{
    "presets":[
        "react",
        
        [
            "env",
            {
                "modules": false
            }
        ]
    ],
    "plugins": [
        "syntax-dynamic-import"
    ],


    "env":{
        "karma":{
            "plugins":[
                [
                    "istanbul",
                    {"exclude": ["tests/*.test.js"]}
                ]
            ]
        }
    }
}