

.pure-button{
    -webkit-border-radius: 1em;
    border-radius: 1em;
}
  

body{
    background: cornsilk;
    background-image: url("./GeneralizationC.png");
    background-repeat: no-repeat;
    background-position: cover;
}